<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish />
    <MSDeployServiceURL>https://admirmujkic2-001-site1.smarterasp.net:8172/MsDeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>admirmujkic2-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <UserName>ifc\admirmujkic2-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DBEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=SQL5003.Smarterasp.net;Initial Catalog=DB_998BE9_wiki;User ID=DB_998BE9_wiki_admin;Password=westside" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Igman.DB.DAL.DBEntities, Igman.DB" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DBEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/DAL.DB.csdl|res://*/DAL.DB.ssdl|res://*/DAL.DB.msl;provider=System.Data.SqlClient;provider connection string="Data Source=SQL5003.Smarterasp.net;Initial Catalog=DB_998BE9_wiki;User ID=DB_998BE9_wiki_admin;Password=westside"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>