<div id="MenuUser" class="hide">
    <div class="menu-u">
    </div>
<div class="menu-items">
    <ul>
    
         <li onclick="LogOut()">
             <img class="img-menu" src="~/Content/Template/images/icons/appbar.door.leave.png" />
            Logout
        </li>
    </ul>
</div>
</div>